Exercise 2-
    Create a markdown cell with the title of the notebook.

Title of the Notebook:
# Data Science Tools and Ecosystem

Exercise 3-
    Create a markdown cell for an introduction.

Introduction
   In this Notebook Data Science Tools and Ecosystem are Summerized and Exercised

Exercise 4-
    Create a markdown cell to list data science languages.

Data science languages are
Python

R

SQL

Scala

Java

C++

Julia

JavaScript

PHP

Go

Ruby

Visual Basic

Exercise 5-
    Create a markdown cell to list data science libraries.

Data science libraries are 
Pandas

Numpy

Matplotlib

Seaborn

Scikit-learn

Keras

TensorFlow

PyTorch

Apache Spark

Vegas

Big DL

Ggplot2

Exercise 6-
    Create a markdown cell with a table of Data Science tools

Tools for data science
 | Anaconda|
 |--------|
 | R Studio |
 |--------|
 | Jupiter notebook|
 |-----------------|
 | Spyder |
 |--------|
 | Zeppelin |
 |--------|

Exercise 7-
    Create a markdown cell introducing arithmetic expression examples

Below are Example of eveluating Arthematic Expression in python
a=63
b=59
a+b=?

Exercise 8-
    Create a code cell to multiply and add numbers.

In [25]:
#This is an arthematic expression to multiply integers
(6*4)+8

32

In [3]:
# This is an arthematic expression to multiply integers
(3*59)+95

272

Exercise 9-
    Create a code cell to convert minutes to hours.

In [26]:
# this will convert 600 minutes to hours by dividing with 60
print("hours" ,600/60)

hours 10.0

Exercise 10-
    Insert a markdown cell to list Objectives.

# Objectives

In [ ]:
# Comment: Objectives

Unordered List Example
d
c
s

In [ ]:
ordered List Example
A
B
C

Exercise 11 -
    Create a markdown cell to indicate the Authorâ€™s name.

Author Name
Mohammad Tayyab Khan